{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
{#        <form method="post" novalidate> novalidate 속성을 사용하면 브라우저의 기본 유효성 검사를 비활성화한다. #} 
        <form method="post">
            {{ form.as_p }} <!-- as_p 메서드를 사용해서 <p> 엘리먼트를 사용해 폼 필드들을 랜더링한다.-->
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}